{extend name='public/_container'}
{block name="content"}
<div class="row">
	<form class="form-horizontal" id="doSubmit">
		<div class="col-sm-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h4>修改密码</h4>
				</div>
				<div class="ibox-content">
					<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">新密码：</label>
						<div class="col-sm-6">
							<input type="password" id="password"  name="password" class="form-control" placeholder="请输入新密码">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">确认密码：</label>
						<div class="col-sm-6">
							<input type="password" id="repassword" name="repassword" class="form-control" placeholder="请输入确认密码">
						</div>
					</div>


					<!-- form end -->
					<div class="hr-line-dashed"></div>
					<div class="row btn-group-m-t">
						<div class="col-sm-7">
							<button type="button" class="btn btn-primary" onclick="InfoDlg.submit()" id="ensure">
								<i class="fa fa-check"></i>&nbsp;确认提交
							</button>
						</div>
					</div>
				</div>

			</div>
		</div>

	</form>

</div>

<script type="text/javascript">
	var InfoDlg = {
		formData: {},
	}

	InfoDlg.collectData = function (){
		this.set('password').set('repassword');
	}

	InfoDlg.Validate = function (){

		if(InfoDlg.get('password') === ''){
			com.error("请输入密码！", 1000);
			return false;
		}

		if(InfoDlg.get('password') !== InfoDlg.get('repassword')){
			com.error("确认密码不相同！", 1000);
			return false;
		}
		return true;
	}

	InfoDlg.submit = function () {
		this.collectData();
		if(!this.Validate()){
			return;
		}

		const ajax = new $ax("{:url('password')}", function (res) {
			if (res.status === 200) {
				com.success(res.msg, 1000);
				InfoDlg.close();
			} else {
				com.error(res.msg + "！", 1000);
			}
		});
		ajax.set(this.formData);
		ajax.start();
	};
</script>
<script src="__JS__/common/formCom.js" charset="utf-8"></script>
{/block}
