<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="renderer" content="webkit"/><!-- 让360浏览器默认选择webkit内核 -->

        <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
        <link href="__CSS__/font-awesome.css?v=4.4.0" rel="stylesheet">
        <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
        <link href="__CSS__/style.css" rel="stylesheet">
        <link href="__LAY__/css/layui.css" rel="stylesheet">
        <link href="__CSS__/plugins/webuploader/webuploader.css" rel="stylesheet">
        <script src="__JS__/common.js"></script>
        <script src="__JS__/jquery.min.js?v=2.1.4"></script>
        <script src="__JS__/bootstrap.min.js?v=3.3.7"></script>
        <script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
        <script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
        <script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
        <script src="__JS__/common/ajax-object.js?v=<?php echo rand(1000,9999)?>"></script>
        <script src="__JS__/common/bootstrap-table-object.js"></script>
        <script src="__JS__/plugins/layer/layer.min.js"></script>
        <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
        <link href="__CSS__/plugins/switchery/switchery.css" rel="stylesheet">
        <script src="__JS__/plugins/webuploader/webuploader.min.js"></script>
        <script type="text/javascript" src="__JS__/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" src="__JS__/ueditor/ueditor.all.min.js"> </script>

        <link href='__CSS__/plugins/chosen/chosen.min.css' rel='stylesheet'/>
        <script src='__JS__/plugins/chosen/chosen.jquery.js'></script>
        <script src='__JS__/plugins/bootstrap-select/bootstrap-select.js'></script>
    </head>
    <body class="">
        <div class="wrapper wrapper-content animated fadeIn">

            <script src="__JS__/upload.js" charset="utf-8"></script>
            <script src="/static/layui/layui.js?t=1498856285724" charset="utf-8"></script>
            {block name="content"}{/block}
            <link rel='stylesheet' href='__JS__/plugins/tagsinput/tagsinput.css'>
            <script type='text/javascript' src='__JS__/plugins/tagsinput/tagsinput.min.js'></script>
        </div>
        <!-- 自定义js -->
        <script src="__JS__/content.js?v=1.0.0"></script>
        {block name="script"}{/block}
        <script>$(function(){$('.chosen').chosen({search_contains: true})})</script>
    </body>
</html>
