<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header" style="background-size:cover;">
                <div class="dropdown profile-element" align="center">
                    <span><img alt="image" class="img-circle" src="/static/logo.png" style="width: 80px;height: 80px;"/></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear">
							<span class="block m-t-xs"><strong
                                    class="font-bold">{:config('sys.site_title')} - 用户端</strong></span>
							<span class="text-muted text-xs block">账户：{$member.account}<b class="caret"></b></span>
						</span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="{:url('config/password')}">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="{:url('login/logout')}">安全退出</a></li>
                    </ul>
                </div>
                <div class="logo-element">API</div>
            </li>

            {foreach $menus as $menu_1}
                {if !isset($menu_1.sub)}
                    <li>
                        <a class="J_menuItem" href="{$menu_1.url}" name="tabMenuItem">
                            <i class="{$menu_1.icon}"></i>
                            <span class="nav-label">{$menu_1.title}</span>
                        </a>
                    </li>
                {else}
                    <li>
                        <a href="#">
                            <i class="fa {$menu_1.icon}"></i>
                            <span class="nav-label">{$menu_1.title}</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            {foreach $menu_1.sub as $menu_2}
                                {if(!$menu_2.sub)}
                                    <li>
                                        <a class="J_menuItem" href="{$menu_2.url}" name="tabMenuItem">
                                            <i class="{$menu_2.icon} nav-icon"></i>
                                            <span class="nav-label">{$menu_2.title}</span>
                                        </a>
                                    </li>
                                {else/}
                                    <li>
                                        <a href="J_menuItem">
                                            <i class="{$menu_2.icon} nav-icon"></i>
                                            <span class="nav-label">{$menu_2.title}</span>
                                            <span class="fa arrow"></span>
                                        </a>
                                        <ul class="nav nav-third-level" style="padding-left:20px;">
                                            {foreach $menu_2.sub as $menu_3}
                                                <li>
                                                    <a class="J_menuItem" href="{$menu_3.url}" name="tabMenuItem">
                                                        <i class="{$menu_3.icon} nav-icon"></i>
                                                        <span class="nav-label">{$menu_3.title}</span>
                                                    </a>
                                                </li>
                                            {/foreach}
                                        </ul>
                                    </li>
                                {/if}
                            {/foreach}
                        </ul>
                    </li>
                {/if}
            {/foreach}


        </ul>
    </div>
</nav>